%h2 All Music

- @music.each do |song|
  %h5= link_to song.title, music_path(song)
  %p
    by
    = link_to "#{User.find(song.user_id).name}", user_path(User.find(song.user_id))
    %br/
    = "Genre: #{song.genre}"
    %br/
    = image_tag song.art, width: 150
    %br/

= will_paginate @music
