= @music.title
%br/
by
= link_to "#{@creator.name}", user_path(@creator)
%br/
= image_tag @music.art, width: 150
%br/
= "Genre: #{@music.genre}"
%br/
= @music.description
%br/
%audio{controls: ""}
  %source{src: "#{@music.track}", type: "audio/mpeg"}
  %embed{height: "50", src: "#{@music.track}", width: "100"}

%hr/

/ COMMENTS

- if @music.comments.any?
  %h3= pluralize(@music.comments.count, 'Comment')
  - @music.comments.each do |feedback|
    = link_to User.find(feedback.user_id).name, user_path(User.find(feedback.user_id)) # how to store this user?
    %br/
    = time_ago_in_words(feedback.created_at) + ' ago'
    %br/
    = "Message: #{feedback.content}"
    - if can? :destroy, feedback
      %br/
      = link_to 'Delete Comment', [feedback.music, feedback], method: :delete, confirm: "Are you sure you'd like to remove #{User.find(feedback.user_id).name}'s comment?"
    %br/
    %br/

%hr/

/ ADD A COMMENT

%h3 Add a comment
- if can? :create, Comment
  = form_for([@music, @music.comments.build]) do |f|
    = f.label :content
    %br/
    = f.text_area :content
    %br/
    = f.submit
- else
  Please
  = link_to 'log in',login_path
  to comment. Don't have an account yet?
  = link_to 'Sign up now!', signup_path
  %br/
