- if @user.errors.any?
  .error-messages
    %h2 Uh-oh...
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

= form_for(@user, html: {class: 'standard-form'}) do |f|
  %fieldset
    %legend Basic Info
    .field
      = f.label :name
      = f.text_field :name
      %br/
    .field
      = f.label :email
      = f.text_field :email
      %br/
    .field
      = f.label :password
      = f.password_field :password
      %br/
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br/
      %br/
    %legend Your Music Site Account
    .field
      = f.label :username, 'Username'
      = f.text_field :username
    .field
      = f.label :role, 'I am a '
      - ['musician', 'listener'].each do |type|
        = f.radio_button :role, type, checked: @user.role == type
        = f.label "role_#{type}", type, class: 'checkbox-label'
      %br/
      %br/
    .actions
      = f.submit
