.row
  .col-md-8.col-md-offset-1

    %h2 All Users

    %table.table.table-hover
      - @users.each do |user|
        %tbody
          %tr
            - if user.profile
              %td= image_tag user.profile.avatar_url(:thumb), width: 150 # maybe the uploader should create another set of even-smaller-thumbs for index view?
            - else
              %td= image_tag '/assets/placeholders/default_avatar.png', width: 150
            %td
              %h4= link_to user.name, user_path(user)
              Member since #{user.created_at.strftime("%d %b %Y")}
              %br/
              = link_to "#{pluralize(user.music.count, 'song')} available", user_path(user)

    = will_paginate @users
