!!!
%html
  %head
    %title Music Site
    = stylesheet_link_tag 'bootstrap', media: 'all'
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #container
      %nav.navbar
        %ul.left-nav
          %li= link_to 'Home', root_path
        %ul.right-nav
          %li
            - if current_user
              Logged in as #{current_user.name}
              |
              = link_to 'Account Settings', edit_user_path(current_user)
              |
              = link_to 'Profile Settings', edit_profile_path(current_user.profile.id) if current_user.profile.present?
              = link_to 'Set Up Profile', new_profile_path if current_user.profile.nil?
              |
              = link_to 'View Profile', user_path(current_user)
              |
              = link_to 'Add Music', new_music_path
              |
              = link_to 'Log Out', logout_path, method: :delete
            - else
              = link_to "Log In", login_path
              or
              = link_to "Sign Up", signup_path
        .clear

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield

      %p

  %footer
    %small
      This website is a non-commercial student project. No copyright infringement intended.
