- if @profile.errors.any?
  .error-messages
    %h2 Uh-oh...
    %ul
      - @profile.errors.full_messages.each do |message|
        %li= message

= form_for(@profile, html: {class: 'standard-form'}) do |f|
  %fieldset
    %legend About
    .field
      = f.label :avatar
      = image_tag @profile.avatar_url(:thumb) if @profile.avatar?
      = f.file_field :avatar
      %br/
    .field
      = f.label :location
      = f.text_field :location
      %br/
    .field
      = f.label :bio
      = f.text_area :bio
      %br/
    .field
      = f.label :twitter, 'Twitter username'
      = f.text_field :twitter
      %br/
    .field
      = f.label :facebook, 'Facebook username'
      = f.text_field :facebook
      %br/
    .field
      = f.label :website
      = f.url_field :website
      %br/
      %br/
    %legend Look and Feel
    .field
      = f.label :font_face_primary, 'Font for Section Headings'
      = f.select :font_face_primary, options_for_select(@available_fonts, @profile.font_face_primary), include_blank: true
      %br/
    .field
      = f.label :font_face_secondary, 'Font for Main Content'
      = f.select :font_face_secondary, options_for_select(@available_fonts, @profile.font_face_secondary), include_blank: true
      %br/
    .field
      = f.label :font_color_primary, 'Primary font color in hex'
      = link_to "(Need help?)", 'http://www.html-color-codes.com', target: '_blank'
      = f.text_field :font_color_primary
      %br/
    .field
      = f.label :font_color_secondary, 'Secondary font color in hex'
      = link_to "(Need help?)", 'http://www.html-color-codes.com', target: '_blank'
      = f.text_field :font_color_secondary
      %br/
    .field
      = f.label :link_color, 'Link color in hex'
      = f.text_field :link_color
      %br/
    .field
      = f.label :background_image # will see how layout goes... could do header image + background color instead?
      = f.text_field :background_image # need to set up upload
      %br/
      %br/
    .actions
      = f.submit
